/*---------------------
    About Pages
----------------------*/
.about-page-content{
    padding: 80px 0 80px 0;
    .about-page-features{
        .icon{
            font-size: 50px;
            color: $base-color;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .content{
            // padding-left: 20px;
            .title{
                font-size: 26px;
                font-weight: 700;
                color: #1f2732;
                margin-bottom: 23px;
            }
            p{
                font-size: 14px;
                color: #676f7a;
                line-height: 24px;
            }
        }
    }
}
.our-client-area{
    padding: 113px 0 120px 0;
    .brand-carousel{
        .single-brand-item{
            border: 1px solid rgba(0,0,0,0.07);
            padding: 10px;
            border-radius: 6px;
            img{
                filter: grayscale(100%);
                @include transition($transition);
                &:hover{
                    filter: grayscale(0%);
                }
            }
        }
    }
}
.news-letter-area{
    padding: 95px 0 100px 0;
    &.news-letter-bg{
        background-image: url(../img/bg/newsletter-bg.jpg);
        background-position: center;
        background-size: cover;
    }
    .newsletter-inner{
        padding-left: 25px;
        .subtitle{
            font-size: 16px;
            color: $white;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 8px;
            display: block;
        }
        .title{
            font-size: 60px;
            font-weight: 700;
            color: $white;
            margin-bottom: 28px;
        }
        .newletter-form{
            position: relative;
            .form-element{
                .input-field{
                    background-color: transparent;
                    border-radius: 35px;
                    height: 70px;
                    border: 4px solid rgba($white,.2);
                    padding-right: 270px;
                    color: #a3bdf8;
                    @include placeholder-color(#a3bdf8);
                }
            }
            .submit-btn{
                position: absolute;
                right: 0;
                top: 0;
                background-color: #2a9cf5;
                height: 70px;
                border-radius: 35px;
                &:hover{
                    background-color: $secondary-color;
                }
            }
        }
    }
}